@page "/"
@using MarketWeb.Client.Connect
@using MarketWeb.Client.Helpers
@inject IMarketAPIClient marketAPIClient
@inject IHttpService httpService

<h1>Hello, world!</h1>

Welcome to your new app.
<p>@httpService.Token</p>

<SurveyPrompt Title="How is Blazor working for you?" />
@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Test");
        marketAPIClient.EnterSystem();
    }

}