@inherits LayoutComponentBase
@using MarketWeb.Client.Connect
@using MarketWeb.Client.Helpers
@inject IMarketAPIClient marketAPIClient

@if (marketAPIClient.LoggedIn)
{
<div class="main">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="">MarketWebProject</a>
                <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/account/profile" Match="NavLinkMatch.All">
                            <span class="oi oi-account" aria-hidden="true"></span> My Profile
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/openNewStore" Match="NavLinkMatch.All">
                             Open New Store
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/MyMessages" Match="NavLinkMatch.All">
                            Messages
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/MyPurchaseHistory" Match="NavLinkMatch.All">
                            Purchase History
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            Cart
                        </NavLink>                
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <Alert />
            @Body
        </main>
    </div>
</div>
}
else
{
<div class="main">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="">MarketWebProject</a>
                <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="account/login">
                            Login
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="account/register">
                            Register
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            Cart
                        </NavLink>                
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <Alert />
            @Body
        </main>
    </div>
</div>
}


@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
